<div class="quizBackground">
   <div id="text"></div>
</div>
<div id="map-canvas"></div>
<div class="">
   <audio id="successSound" src="/audio/success_sound.mp3"></audio>
</div>
<div id='imageLocation'></div>
